<!--this is a clickable dish card I'll use on dishes.ejs, every dish has their own id-->

<a href="/dishes/<%=dishId%>">
    <article>
        <h3 class="h3DishCard"><%=dishName%></h3>
        <p class="pDishCard"><%=dishIngredients%></p>
        <p class="qualityDishCard"><%=dishQuality%></p>
        <img src=<%=imgSource%> alt=<%=imgAlt%>>
    </article>
</a>
